table {
    border-collapse: collapse;
    margin: 20px;
}
th, td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 6px double green;
    font-weight: bold;
    padding: 1px;
    margin: 4px;
}
th {
    background-color: #cc99ff; /* Encabezado morado */
}
.header-left {
    background-color: #cc99ff;
}
.yellow {
    background-color: #ffff99;
}
.orange {
    background-color: #ffcc99;
}